example/workflows/browseExample.yml
DiscoverGranulesBrowseExample:
  Comment: 'Example for Browse Generation Data Cookbook'
  StartAt: StatusReport
  TimeoutSeconds: 18000 # 5 hours
  States:
    StatusReport:
      Parameters:
        cma:
          event.$: '$'
          workflow_config:
            StatusReport:
              cumulus_message:
                input: '{$}'
      Type: Task
      Resource: ${SfSnsReportLambdaFunction.Arn}
      Retry:
        - &LambdaServiceExceptionRetry
          ErrorEquals:
          - Lambda.ServiceException
          - Lambda.AWSLambdaException
          - Lambda.SdkClientException
          IntervalSeconds: 2
          MaxAttempts: 6
          BackoffRate: 2
      Next: DiscoverGranules
    DiscoverGranules:
      Parameters:
        cma:
          event.$: '$'
          workflow_config:
            DiscoverGranules:
              provider: '{$.meta.provider}'
              collection: '{$.meta.collection}'
              buckets: '{$.meta.buckets}'
              stack: '{$.meta.stack}'
      Type: Task
      Resource: ${DiscoverGranulesLambdaFunction.Arn}
      Retry:
        - <<: *LambdaServiceExceptionRetry
      Catch:
        - ErrorEquals:
          - States.ALL
          ResultPath: '$.exception'
          Next: StopStatus
      Next: QueueGranules
    QueueGranules:
      Parameters:
        cma:
          event.$: '$'
          workflow_config:
            QueueGranules:
              provider: '{$.meta.provider}'
              internalBucket: '{$.meta.buckets.internal.name}'
              stackName: '{$.meta.stack}'
              granuleIngestWorkflowName: 'CookbookBrowseExample'
              queueUrl: '{$.meta.queues.startSF}'
      Type: Task
      Resource: ${QueueGranulesLambdaFunction.Arn}
      Retry:
        - <<: *LambdaServiceExceptionRetry
      Catch:
        - ErrorEquals:
          - States.ALL
          ResultPath: '$.exception'
          Next: StopStatus
      Next: StopStatus
    StopStatus:
      Parameters:
        cma:
          event.$: '$'
          workflow_config:
            StopStatus:
              sfnEnd: true
              stack: '{$.meta.stack}'
              bucket: '{$.meta.buckets.internal.name}'
              stateMachine: '{$.cumulus_meta.state_machine}'
              executionName: '{$.cumulus_meta.execution_name}'
              cumulus_message:
                input: '{$}'
      Type: Task
      Resource: ${SfSnsReportLambdaFunction.Arn}
      Retry:
        - <<: *LambdaServiceExceptionRetry
      Catch:
        - ErrorEquals:
          - States.ALL
          Next: WorkflowFailed
      End: true
    WorkflowFailed:
      Type: Fail
      Cause: 'Workflow failed'

CookbookBrowseExample:
  StartAt: Report
  States:
    Report:
      Parameters:
        cma:
          event.$: '$'
          workflow_config:
            Report:
              cumulus_message:
                input: '{$}'
      Type: Task
      Resource: ${SfSnsReportLambdaFunction.Arn}
      ResultPath: null
      Retry:
        - <<: *LambdaServiceExceptionRetry
      Next: SyncGranule
    SyncGranule:
      Parameters:
        cma:
          event.$: '$'
          workflow_config:
            SyncGranule:
              buckets: '{$.meta.buckets}'
              provider: '{$.meta.provider}'
              collection: '{$.meta.collection}'
              stack: '{$.meta.stack}'
              downloadBucket: '{$.cumulus_meta.system_bucket}'
              duplicateHandling: '{$.meta.collection.duplicateHandling}'
              pdr: '{$.meta.pdr}'
              cumulus_message:
                outputs:
                  - source: '{$.granules}'
                    destination: '{$.meta.input_granules}'
                  - source: '{$}'
                    destination: '{$.payload}'
                  - source: '{$.process}'
                    destination: '{$.cumulus_meta.process}'
      Type: Task
      Resource: ${SyncGranuleLambdaFunction.Arn}
      Retry:
          - ErrorEquals:
              - States.ALL
            IntervalSeconds: 2
            MaxAttempts: 3
      Catch:
        - ErrorEquals:
          - States.ALL
          ResultPath: '$.exception'
          Next: StopStatus
      Next: ProcessingStep
    ProcessingStep:
      Parameters:
        cma:
          event.$: '$'
          workflow_config:
            ProcessingStep:
              bucket: '{$.meta.buckets.internal.name}'
              collection: '{$.meta.collection}'
              cmrMetadataFormat: '{$.meta.cmrMetadataFormat}'
              additionalUrls: '{$.meta.additionalUrls}'
              generateFakeBrowse: true
              cumulus_message:
                outputs:
                  - source: '{$.granules}'
                    destination: '{$.meta.input_granules}'
                  - source: '{$.files}'
                    destination: '{$.payload}'
      Type: Task
      Resource: ${FakeProcessingLambdaFunction.Arn}
      Catch:
        - ErrorEquals:
          - States.ALL
          ResultPath: '$.exception'
          Next: StopStatus
      Retry:
        - ErrorEquals:
            - States.ALL
          IntervalSeconds: 2
          MaxAttempts: 3
      Next: FilesToGranulesStep
    FilesToGranulesStep:
      Parameters:
        cma:
          event.$: '$'
          workflow_config:
            FilesToGranulesStep:
              inputGranules: '{$.meta.input_granules}'
              granuleIdExtraction: '{$.meta.collection.granuleIdExtraction}'
      Type: Task
      Resource: ${FilesToGranulesLambdaFunction.Arn}
      Retry:
        - <<: *LambdaServiceExceptionRetry
      Catch:
        - ErrorEquals:
          - States.ALL
          ResultPath: '$.exception'
          Next: StopStatus
      Next: MoveGranuleStep
    MoveGranuleStep:
      Parameters:
        cma:
          event.$: '$'
          workflow_config:
            MoveGranuleStep:
              bucket: '{$.meta.buckets.internal.name}'
              buckets: '{$.meta.buckets}'
              distribution_endpoint: '{$.meta.distribution_endpoint}'
              collection: '{$.meta.collection}'
              duplicateHandling: '{$.meta.collection.duplicateHandling}'
      Type: Task
      Resource: ${MoveGranulesLambdaFunction.Arn}
      Retry:
        - <<: *LambdaServiceExceptionRetry
      Catch:
        - ErrorEquals:
          - States.ALL
          ResultPath: '$.exception'
          Next: StopStatus
      Next: CmrStep
    CmrStep:
      Parameters:
        cma:
          event.$: '$'
          workflow_config:
            CmrStep:
              bucket: '{$.meta.buckets.internal.name}'
              stack: '{$.meta.stack}'
              cmr: '{$.meta.cmr}'
              launchpad: '{$.meta.launchpad}'
              process: '{$.cumulus_meta.process}'
              input_granules: '{$.meta.input_granules}'
              granuleIdExtraction: '{$.meta.collection.granuleIdExtraction}'
      Type: Task
      Resource: ${PostToCmrLambdaFunction.Arn}
      Retry:
        - <<: *LambdaServiceExceptionRetry
      Catch:
        - ErrorEquals:
          - States.ALL
          ResultPath: '$.exception'
          Next: StopStatus
      Next: StopStatus
    StopStatus:
      Parameters:
        cma:
          event.$: '$'
          workflow_config:
            StopStatus:
              sfnEnd: true
              stack: '{$.meta.stack}'
              bucket: '{$.meta.buckets.internal.name}'
              stateMachine: '{$.cumulus_meta.state_machine}'
              executionName: '{$.cumulus_meta.execution_name}'
              cumulus_message:
                input: '{$}'
      Type: Task
      Resource: ${SfSnsReportLambdaFunction.Arn}
      Retry:
        - <<: *LambdaServiceExceptionRetry
      Catch:
        - ErrorEquals:
          - States.ALL
          Next: WorkflowFailed
      End: true
    WorkflowFailed:
      Type: Fail
      Cause: 'Workflow failed'