example/workflows/errorsAndRetries.yml
RetryPassWorkflow:
  Comment: 'Tests Retry Configurations'
  StartAt: StartStatus
  States:
    StartStatus:
      Parameters:
        cma:
          event.$: '$'
          workflow_config:
            StartStatus:
              cumulus_message:
                input: '{$}'
      Type: Task
      Resource: ${SfSnsReportLambdaFunction.Arn}
      Retry:
        - &LambdaServiceExceptionRetry
          ErrorEquals:
          - Lambda.ServiceException
          - Lambda.AWSLambdaException
          - Lambda.SdkClientException
          IntervalSeconds: 2
          MaxAttempts: 6
          BackoffRate: 2
      Next: HelloWorld
    HelloWorld:
      Parameters:
        cma:
          event.$: '$'
          workflow_config:
            HelloWorld:
              fail: true
              passOnRetry: true
              bucket: '{$.meta.buckets.internal.name}'
              execution: '{$.cumulus_meta.execution_name}'
      Type: Task
      Resource: ${HelloWorldLambdaFunction.Arn}
      Next: StopStatus
      Retry:
        - ErrorEquals:
            - States.ALL
          IntervalSeconds: 2
          MaxAttempts: 3
    StopStatus:
      Parameters:
        cma:
          event.$: '$'
          workflow_config:
            StopStatus:
              sfnEnd: true
              stack: '{$.meta.stack}'
              bucket: '{$.meta.buckets.internal.name}'
              stateMachine: '{$.cumulus_meta.state_machine}'
              executionName: '{$.cumulus_meta.execution_name}'
              cumulus_message:
                input: '{$}'
      Type: Task
      Resource: ${SfSnsReportLambdaFunction.Arn}
      Retry:
        - <<: *LambdaServiceExceptionRetry
      Catch:
        - ErrorEquals:
          - States.ALL
          Next: WorkflowFailed
      End: true
    WorkflowFailed:
      Type: Fail
      Cause: 'Workflow failed'

HelloWorldFailWorkflow:
  Comment: 'Failing Hello World Workflow'
  StartAt: StartStatus
  States:
    StartStatus:
      Parameters:
        cma:
          event.$: '$'
          workflow_config:
            StartStatus:
              cumulus_message:
                input: '{$}'
      Type: Task
      Resource: ${SfSnsReportLambdaFunction.Arn}
      Retry:
        - <<: *LambdaServiceExceptionRetry
      Next: HelloWorld
    HelloWorld:
      Parameters:
        cma:
          event.$: '$'
          workflow_config:
            HelloWorld:
              fail: true
      Type: Task
      Resource: ${HelloWorldLambdaFunction.Arn}
      Retry:
        - <<: *LambdaServiceExceptionRetry
      Next: StopStatus
    StopStatus:
      Parameters:
        cma:
          event.$: '$'
          workflow_config:
            StopStatus:
              sfnEnd: true
              stack: '{$.meta.stack}'
              bucket: '{$.meta.buckets.internal.name}'
              stateMachine: '{$.cumulus_meta.state_machine}'
              executionName: '{$.cumulus_meta.execution_name}'
              cumulus_message:
                input: '{$}'
      Type: Task
      Resource: ${SfSnsReportLambdaFunction.Arn}
      Retry:
        - <<: *LambdaServiceExceptionRetry
      Catch:
        - ErrorEquals:
          - States.ALL
          Next: WorkflowFailed
      End: true
    WorkflowFailed:
      Type: Fail
      Cause: 'Workflow failed'

RetryFailWorkflow:
  Comment: 'Tests Retries and Fail'
  StartAt: StartStatus
  States:
    StartStatus:
      Parameters:
        cma:
          event.$: '$'
          workflow_config:
            StartStatus:
              cumulus_message:
                input: '{$}'
      Type: Task
      Resource: ${SfSnsReportLambdaFunction.Arn}
      Retry:
        - <<: *LambdaServiceExceptionRetry
      Next: HelloWorld
    HelloWorld:
      Parameters:
        cma:
          event.$: '$'
          workflow_config:
            HelloWorld:
              fail: true
      Type: Task
      Resource: ${HelloWorldLambdaFunction.Arn}
      Next: StopStatus
      Retry:
        - ErrorEquals:
            - States.ALL
          IntervalSeconds: 2
          BackoffRate: 2
          MaxAttempts: 3
    StopStatus:
      Parameters:
        cma:
          event.$: '$'
          workflow_config:
            StopStatus:
              sfnEnd: true
              stack: '{$.meta.stack}'
              bucket: '{$.meta.buckets.internal.name}'
              stateMachine: '{$.cumulus_meta.state_machine}'
              executionName: '{$.cumulus_meta.execution_name}'
              cumulus_message:
                input: '{$}'
      Type: Task
      Resource: ${SfSnsReportLambdaFunction.Arn}
      Retry:
        - <<: *LambdaServiceExceptionRetry
      Catch:
        - ErrorEquals:
          - States.ALL
          Next: WorkflowFailed
      End: true
    WorkflowFailed:
      Type: Fail
      Cause: 'Workflow failed'