gibs-ingest/config/cloudformation.yml
Description: GIBS/Cumulus - Ingest
Parameters:
  ConfigS3Bucket:
    Type: String
    Description: S3 bucket that holds deployment artifacts
  StackName:
    Type: String
    Description: Name of the (parent) stack name being created
  IngestKeyName:
    Type: AWS::EC2::KeyPair::KeyName
    Description: Name of an existing EC2 KeyPair to enable SSH access to ingest ECS
      instances.
  AuthorizedKeys:
    Type: CommaDelimitedList
    Description: Comma-delimited list of SSH keys to authorize on EC2 instances.
  IngestDesiredInstances:
    Type: Number
    Default: '1'
    Description: Number of instances to launch in the ingest ECS cluster.
  IngestMaxInstances:
    Type: Number
    Default: '5'
    Description: Maximum number of instances in the ingest ECS cluster.
  IngestInstanceType:
    Description: The EC2 instance type
    Type: String
    Default: t2.micro
    AllowedValues:
      - t2.micro
      - t2.small
      - t2.medium
      - t2.large
      - m4.large
  ArtifactPath:
    Type: String
    Description: Path within the deployment bucket containing artifacts
  DeployRegion:
    Type: String
    Description: AWS region used for S3 Bucket creation, services and ECS instances
  VPC:
    Type: String
    Description: ID of the VPC into which we should deploy

Resources:






  TaskExecutionRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
        - Effect: Allow
          Principal:
            Service:
            - lambda.amazonaws.com
          Action:
          - sts:AssumeRole
        - Effect: Allow
          Principal:
            Service:
            - ec2.amazonaws.com
          Action:
          - sts:AssumeRole
        - Effect: Allow
          Principal:
            Service:
            - !Sub "states.${AWS::Region}.amazonaws.com"
          Action:
          - sts:AssumeRole
      Path: "/"
      Policies:
      - PolicyName: TaskExecutionRolePolicy
        PolicyDocument:
          Version: '2012-10-17'
          Statement:

          # Allow Lambda logging
          - Effect: Allow
            Action:
            - logs:DescribeLogStreams
            - logs:CreateLogGroup
            - logs:CreateLogStream
            - logs:PutLogEvents
            Resource: arn:aws:logs:*:*:*

          # Allow writing to ingest buckets
          - Effect: Allow
            Action:
            - s3:AbortMultipartUpload
            - s3:Get*
            - s3:Put*
            - s3:List*
            - s3:DeleteObject
            - s3:DeleteObjectVersion
            Resource:
            - !Sub arn:aws:s3:::${ConfigS3Bucket}
            - !Sub arn:aws:s3:::${ConfigS3Bucket}/*
            - !Sub arn:aws:s3:::${StackName}-public
            - !Sub arn:aws:s3:::${StackName}-public/*
            - !Sub arn:aws:s3:::${StackName}-protected
            - !Sub arn:aws:s3:::${StackName}-protected/*
            - !Sub arn:aws:s3:::${StackName}-private
            - !Sub arn:aws:s3:::${StackName}-private/*

          # Allow managing network interfaces (required to run Lambda in VPC)
          - Effect: Allow
            Action:
            - ec2:CreateNetworkInterface
            - ec2:DescribeNetworkInterfaces
            - ec2:DeleteNetworkInterface
            Resource:
            - "*"

          # Allow lambdas to call other lambdas
          - Effect: Allow
            Action:
            - lambda:GetFunction
            - lambda:invokeFunction
            Resource:
            - "*"

          # Allow lambdas to interact with their StepFunctions
          - Effect: Allow
            Action:
            - "*"
            Resource:
            - !Sub "arn:aws:states:${AWS::Region}:${AWS::AccountId}:stateMachine:gitcxngapxx*"
            - !Sub "arn:aws:states:${AWS::Region}:${AWS::AccountId}:execution:gitcxngapxx*"
            - !Sub "arn:aws:states:${AWS::Region}:${AWS::AccountId}:activity:${StackName}*"

          # Allow lambdas to find their corresponding ECS cluster
          - Effect: Allow
            Action:
            - ecs:ListClusters
            Resource:
            - "*"

          # Allow running tasks on ECS
          - Effect: Allow
            Action:
            - ecs:ListTasks
            - ecs:ListTaskDefinitions
            - ecs:RunTask
            Resource:
            - "*"
            Condition:
              ArnLike:
                ecs:cluster: !Sub "arn:aws:ecs:${AWS::Region}:${AWS::AccountId}:cluster/${StackName}*"

          # Allow use of dynamo
          - Effect: Allow
            Action:
            - dynamodb:PutItem
            - dynamodb:DeleteItem
            - dynamodb:BatchGetItem
            - dynamodb:BatchWriteItem
            - dynamodb:DeleteItem
            - dynamodb:GetItem
            - dynamodb:GetRecords
            - dynamodb:Query
            - dynamodb:Scan
            - dynamodb:UpdateItem
            Resource:
            - !Sub arn:aws:dynamodb:${AWS::Region}:${AWS::AccountId}:table/${StackName}-*

          # Allow running within ECS
          - Effect: Allow
            Action:
            - ecs:DeregisterContainerInstance
            - ecs:DiscoverPollEndpoint
            - ecs:Poll
            - ecs:RegisterContainerInstance
            - ecs:StartTelemetrySession
            - ecs:Submit*
            - ecr:BatchCheckLayerAvailability
            - ecr:BatchGetImage
            - ecr:GetDownloadUrlForLayer
            - ecr:GetAuthorizationToken
            Resource:
            - "*"

          # Allow querying cloudformation for resource ids
          - Effect: Allow
            Action:
            - cloudformation:DescribeStackResources
            Resource:
            - !Sub arn:aws:cloudformation:${AWS::Region}:${AWS::AccountId}:stack/${AWS::StackName}/*

  PrivateResources:
    Type: AWS::S3::Bucket
    DeletionPolicy: Retain
    Properties:
      BucketName: !Sub ${StackName}-private


  
  DiscoverHttpTilesFn:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub ${StackName}-task-discover-http-tiles
      Code:
        S3Bucket: !Ref ConfigS3Bucket
        S3Key: !Sub ${ArtifactPath}/lambda/discover-http-tiles.zip
      Description: Discovers tile files to ingest from HTTP
      Runtime: nodejs4.3
      Timeout: 300
      MemorySize: 256
      Handler: discover-http-tiles.handler
      Role: !GetAtt [TaskExecutionRole, Arn]
  

  
  DiscoverCmrGranulesFn:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub ${StackName}-task-discover-cmr-granules
      Code:
        S3Bucket: !Ref ConfigS3Bucket
        S3Key: !Sub ${ArtifactPath}/lambda/discover-cmr-granules.zip
      Description: Discovers tile files to ingest from HTTP
      Runtime: nodejs4.3
      Timeout: 300
      MemorySize: 256
      Handler: discover-cmr-granules.handler
      Role: !GetAtt [TaskExecutionRole, Arn]
  

  
  SyncHttpUrlsFn:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub ${StackName}-task-sync-http-urls
      Code:
        S3Bucket: !Ref ConfigS3Bucket
        S3Key: !Sub ${ArtifactPath}/lambda/sync-http-urls.zip
      Description: Synchronizes HTTP files to S3
      Runtime: nodejs4.3
      Timeout: 300
      MemorySize: 512
      Handler: sync-http-urls.handler
      Role: !GetAtt [TaskExecutionRole, Arn]
  

  
  SyncWmsFn:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub ${StackName}-task-sync-wms
      Code:
        S3Bucket: !Ref ConfigS3Bucket
        S3Key: !Sub ${ArtifactPath}/lambda/sync-wms.zip
      Description: Generates WMS URLs to sync
      Runtime: nodejs4.3
      Timeout: 300
      MemorySize: 256
      Handler: sync-wms.handler
      Role: !GetAtt [TaskExecutionRole, Arn]
  

  
  TriggerIngestFn:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub ${StackName}-task-trigger-ingest
      Code:
        S3Bucket: !Ref ConfigS3Bucket
        S3Key: !Sub ${ArtifactPath}/lambda/trigger-ingest.zip
      Description: Triggers ingest for discovered granules
      Runtime: nodejs4.3
      Timeout: 300
      MemorySize: 256
      Handler: trigger-ingest.handler
      Role: !GetAtt [TaskExecutionRole, Arn]
  

  
  GenerateMrfFn:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub ${StackName}-task-generate-mrf
      Code:
        S3Bucket: !Ref ConfigS3Bucket
        S3Key: !Sub ${ArtifactPath}/lambda/generate-mrf.zip
      Description: Generates an MRF from imported files (runs as ECS service)
      Runtime: nodejs4.3
      Timeout: 300
      MemorySize: 256
      Handler: generate-mrf.handler
      Role: !GetAtt [TaskExecutionRole, Arn]
  
  GenerateMrfLogs:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub ${StackName}-service-generate-mrf-ecs

  GenerateMrfService:
    Type: AWS::ECS::Service
    DependsOn:
    - IngestECSAutoScalingGroup
    - GenerateMrfFn
    Properties:
      Cluster: !Ref IngestECSCluster
      DesiredCount: 2
      TaskDefinition: !Ref GenerateMrfTask
      DeploymentConfiguration:
        MaximumPercent: 100
        MinimumHealthyPercent: 0
  

  
  SfnSchedulerFn:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub ${StackName}-task-sfn-scheduler
      Code:
        S3Bucket: !Ref ConfigS3Bucket
        S3Key: !Sub ${ArtifactPath}/lambda/sfn-scheduler.zip
      Description: Runs scheduled discovery / ingest (runs as ECS service)
      Runtime: nodejs4.3
      Timeout: 300
      MemorySize: 256
      Handler: sfn-scheduler.handler
      Role: !GetAtt [TaskExecutionRole, Arn]
  
  SfnSchedulerLogs:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub ${StackName}-service-sfn-scheduler-ecs

  SfnSchedulerService:
    Type: AWS::ECS::Service
    DependsOn:
    - IngestECSAutoScalingGroup
    - SfnSchedulerFn
    Properties:
      Cluster: !Ref IngestECSCluster
      DesiredCount: 1
      TaskDefinition: !Ref SfnSchedulerTask
      DeploymentConfiguration:
        MaximumPercent: 100
        MinimumHealthyPercent: 0
  


  LockTable:
    Type: AWS::DynamoDB::Table
    Properties:
      AttributeDefinitions:
      - AttributeName: key
        AttributeType: S
      KeySchema:
      - AttributeName: key
        KeyType: HASH
      ProvisionedThroughput:
        ReadCapacityUnits: 1
        WriteCapacityUnits: 1
      TableName: !Sub ${StackName}-locks

  ConnectionsTable:
    Type: AWS::DynamoDB::Table
    Properties:
      AttributeDefinitions:
      - AttributeName: key
        AttributeType: S
      KeySchema:
      - AttributeName: key
        KeyType: HASH
      ProvisionedThroughput:
        ReadCapacityUnits: 1
        WriteCapacityUnits: 1
      TableName: !Sub ${StackName}-connects

  IngestECSCluster:
    Type: AWS::ECS::Cluster

  LambdaRunnerLogs:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub ${StackName}-lambda-runner

  LambdaRunnerTask:
    Type: AWS::ECS::TaskDefinition
    Properties:
      ContainerDefinitions:
      - Name: ecs-lambda-runner
        Cpu: '10'
        Essential: true
        Image: !Sub ${AWS::AccountId}.dkr.ecr.${DeployRegion}.amazonaws.com/gitcdev/ecs-lambda-runner:latest
        Memory: '1024'
        LogConfiguration:
          LogDriver: awslogs
          Options:
            awslogs-group: !Ref LambdaRunnerLogs
            awslogs-region: !Ref AWS::Region

  TransactionLogs:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub ${StackName}-transactions

  SfnSchedulerTask:
    Type: AWS::ECS::TaskDefinition
    Properties:
      ContainerDefinitions:
      - Name: sfn-scheduler
        Command:
        - !GetAtt [SfnSchedulerFn, Arn]
        - "--eventJson"
        - !Sub >-
          {
            "resources": {
              "stack": "${AWS::StackName}",
              "state_machine_prefix": "gitcxngapxx",
              "buckets": {
                "config": "${ConfigS3Bucket}",
                "private": "${StackName}-private",
                "public": "${StackName}-public"
              },
              "tables": {
                "connections": "${StackName}-connects",
                "locks": "${StackName}-locks"
              }
            },
            "payload": {"Key": "ingest/collections.yml", "Bucket": "${ConfigS3Bucket}"}
          }
        Cpu: '10'
        Essential: true
        Environment:
          - Name: AWS_DEFAULT_REGION
            Value: !Ref AWS::Region
        Image: !Sub ${AWS::AccountId}.dkr.ecr.${DeployRegion}.amazonaws.com/gitcdev/ecs-lambda-runner:latest
        Memory: '256'
        LogConfiguration:
          LogDriver: awslogs
          Options:
            awslogs-group: !Ref SfnSchedulerLogs
            awslogs-region: !Ref AWS::Region

  GenerateMrfTask:
    Type: AWS::ECS::TaskDefinition
    Properties:
      ContainerDefinitions:
      - Name: generate-mrf
        Command:
        - !GetAtt [GenerateMrfFn, Arn]
        - "--activity"
        - !Ref GenerateMrfActivity
        Cpu: '512'
        Essential: true
        Image: !Sub ${AWS::AccountId}.dkr.ecr.${DeployRegion}.amazonaws.com/gitcdev/ecs-lambda-runner:latest
        Memory: '2048'
        Environment:
          - Name: AWS_DEFAULT_REGION
            Value: !Ref AWS::Region
        LogConfiguration:
          LogDriver: awslogs
          Options:
            awslogs-group: !Ref GenerateMrfLogs
            awslogs-region: !Ref AWS::Region

  IngestEC2InstanceProfile:
    Type: AWS::IAM::InstanceProfile
    Properties:
      Path: "/"
      Roles:
      - !Ref TaskExecutionRole

  IngestECSAutoScalingGroup:
    Type: AWS::AutoScaling::AutoScalingGroup
    UpdatePolicy:
      AutoScalingRollingUpdate:
        MinInstancesInService: 0
    Properties:
      AvailabilityZones:
      - !Sub ${AWS::Region}b # Might not want to hardcode this
      
      LaunchConfigurationName: !Ref IngestContainerInstanceLaunch
      MinSize: '0'
      MaxSize: !Ref IngestMaxInstances
      DesiredCapacity: !Ref IngestDesiredInstances
      Tags:
      - Key: Name
        Value: !Sub "${StackName} Ingest ECS"
        PropagateAtLaunch: true

  IngestContainerInstanceLaunch:
    Type: AWS::AutoScaling::LaunchConfiguration
    Metadata:
      AWS::CloudFormation::Init:
        config:
          commands:
            01_add_instance_to_cluster:
              command: !Sub |
                #!/bin/bash
                echo ECS_CLUSTER=${IngestECSCluster} >> /etc/ecs/ecs.config
          files:
            "/etc/cfn/cfn-hup.conf":
              content: !Sub |
                [main]
                stack=${AWS::StackId}
                region=${AWS::Region}
              mode: '000400'
              owner: root
              group: root
            "/etc/cfn/hooks.d/cfn-auto-reloader.conf":
              content: !Sub |
                [cfn-auto-reloader-hook]
                triggers=post.update
                path=Resources.IngestContainerInstanceLaunch.Metadata.AWS::CloudFormation::Init
                action=/opt/aws/bin/cfn-init -v --stack ${AWS::StackName} --resource IngestContainerInstanceLaunch --region ${AWS::Region}
                runas=root
          services:
            sysvinit:
              cfn-hup:
                enabled: 'true'
                ensureRunning: 'true'
                files:
                - "/etc/cfn/cfn-hup.conf"
                - "/etc/cfn/hooks.d/cfn-auto-reloader.conf"
    Properties:
      SecurityGroups:
      - !Ref IngestECSSecurityGroup
      ImageId: !FindInMap [AWSRegionToAMI, !Ref "AWS::Region", AMIID]
      InstanceType: !Ref IngestInstanceType
      IamInstanceProfile: !Ref IngestEC2InstanceProfile
      BlockDeviceMappings:
      - DeviceName: "/dev/xvdcz"
        Ebs:
          DeleteOnTermination: true
          VolumeSize: 100
      KeyName: !Ref IngestKeyName
      UserData:
        "Fn::Base64": !Join
          - ""
          - - "#cloud-config\n"
            - "ssh_authorized_keys:\n - "
            - !Join ["\n - ", !Ref AuthorizedKeys]
            - "\nruncmd:\n"
            - " - yum install -y aws-cfn-bootstrap\n"
            - !Sub " - /opt/aws/bin/cfn-init -v --stack ${AWS::StackName} --resource IngestContainerInstanceLaunch --region ${AWS::Region}\n"
            - !Sub " - /opt/aws/bin/cfn-signal -e $? --stack ${AWS::StackName} --resource IngestECSAutoScalingGroup --region ${AWS::Region}\n"

  IngestECSSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: Security group for GITC ingest
      SecurityGroupEgress:
      - IpProtocol: "-1"
        FromPort: "-1"
        ToPort: "-1"
        CidrIp: 0.0.0.0/0
      SecurityGroupIngress:
      - IpProtocol: tcp
        FromPort: '22'
        ToPort: '22'
        CidrIp: 0.0.0.0/0
      VpcId: !Ref VPC


  # Unfortunately, we have to prefix the desired state machine name with a stack-specific
  # prefix so that we can restrict IAM roles to only our state machines
  gitcxngapxxDiscoverVIIRS:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      DefinitionString: !Sub '{"Comment":"VIIRS Discovery","StartAt":"DiscoverHttpTiles","States":{"DiscoverHttpTiles":{"Type":"Task","Resource":"${DiscoverHttpTilesFn.Arn}","Next":"TriggerIngest"},"TriggerIngest":{"Type":"Task","Resource":"${TriggerIngestFn.Arn}","End":true}}}'
      RoleArn: !GetAtt [TaskExecutionRole, Arn]


  # Unfortunately, we have to prefix the desired state machine name with a stack-specific
  # prefix so that we can restrict IAM roles to only our state machines
  gitcxngapxxIngestVIIRS:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      DefinitionString: !Sub '{"Comment":"VIIRS Ingest","StartAt":"SyncHttpUrls","States":{"SyncHttpUrls":{"Type":"Task","Resource":"${SyncHttpUrlsFn.Arn}","Next":"ChooseSyncContinuation"},"ChooseSyncContinuation":{"Type":"Choice","Choices":[{"Variable":"$.exception","StringEquals":"NotNeeded","Next":"NoUpdates"},{"Variable":"$.exception","StringEquals":"Incomplete","Next":"SyncHttpUrls"},{"Variable":"$.exception","StringEquals":"None","Next":"MRFGen"}],"Default":"UnhandledSyncError"},"UnhandledSyncError":{"Type":"Fail","Cause":"Unhandled Sync Error"},"MRFGen":{"Type":"Task","Resource":"${GenerateMrfActivity}","End":true},"NoUpdates":{"Type":"Pass","Result":"No Updates Necessary","End":true}}}'
      RoleArn: !GetAtt [TaskExecutionRole, Arn]


  # Unfortunately, we have to prefix the desired state machine name with a stack-specific
  # prefix so that we can restrict IAM roles to only our state machines
  gitcxngapxxDiscoverMOPITT:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      DefinitionString: !Sub '{"Comment":"MOPITT Discovery","StartAt":"DiscoverCmrGranules","States":{"DiscoverCmrGranules":{"Type":"Task","Resource":"${DiscoverCmrGranulesFn.Arn}","Next":"TriggerIngest"},"TriggerIngest":{"Type":"Task","Resource":"${TriggerIngestFn.Arn}","End":true}}}'
      RoleArn: !GetAtt [TaskExecutionRole, Arn]


  # Unfortunately, we have to prefix the desired state machine name with a stack-specific
  # prefix so that we can restrict IAM roles to only our state machines
  gitcxngapxxIngestMOPITT:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      DefinitionString: !Sub '{"Comment":"MOPITT Ingest","StartAt":"CreateWmsUrls","States":{"CreateWmsUrls":{"Type":"Task","Resource":"${SyncWmsFn.Arn}","Next":"SyncHttpUrls"},"SyncHttpUrls":{"Type":"Task","Resource":"${SyncHttpUrlsFn.Arn}","Next":"ChooseSyncContinuation"},"ChooseSyncContinuation":{"Type":"Choice","Choices":[{"Variable":"$.exception","StringEquals":"NotNeeded","Next":"NoUpdates"},{"Variable":"$.exception","StringEquals":"Incomplete","Next":"SyncHttpUrls"},{"Variable":"$.exception","StringEquals":"None","Next":"MRFGen"}],"Default":"UnhandledSyncError"},"UnhandledSyncError":{"Type":"Fail","Cause":"Unhandled Sync Error"},"MRFGen":{"Type":"Task","Resource":"${GenerateMrfActivity}","End":true},"NoUpdates":{"Type":"Pass","Result":"No Updates Necessary","End":true}}}'
      RoleArn: !GetAtt [TaskExecutionRole, Arn]



  GenerateMrfActivity:
    Type: "AWS::StepFunctions::Activity"
    Properties:
      Name: !Sub '${StackName}-GenerateMrf'

Mappings:
  AWSRegionToAMI:
    DOCS:
      LIST: http://docs.aws.amazon.com/AmazonECS/latest/developerguide/ecs-optimized_AMI.html
    us-west-2:
      AMIID: ami-241bd844
    us-east-1:
      AMIID: ami-b2df2ca4
