docs/schemas/example-data/example-collection.json
{
  "id": "VNGCR_LQD_C1",
  "trigger": {
    "interval_sec": 900,
    "workflow": "discover_VNGCR_LQD_C1"
  },
  "meta": {
    "collection": "VNGCR_LQD_C1",
    "parameterName": "VNGCR_LQD_I1-M4-M3_NRT",
    "epsg": 4326,
    "zoom": 9
  },
  "task_config": {
    "DiscoverHttpTiles": {
      "type": "apache-index",
      "connections": 10,
      "root": "https://lance3.modaps.eosdis.nasa.gov/imagery/elements/VIIRS/{meta.collection}/",
      "match": "https://lance3.modaps.eosdis.nasa.gov/imagery/elements/VIIRS/{meta.collection}/{_}/{jday}/{file}.{ext}",
      "required": [
        {
          "group": "file",
          "prop": "ext",
          "values": [
            "jgw",
            "jpg",
            "txt"
          ]
        }
      ],
      "group_by": "VIIRS/{meta.collection}/{match.jday}",
      "add_meta": {
        "key": "VIIRS/{meta.collection}/{match.jday}",
        "date": {
          "type": "date",
          "value": "{match.jday}"
        }
      }
    },
    "SyncHttpUrls": {
      "connections": 5,
      "output": {
        "bucket": "{resources.buckets.private}",
        "key_prefix": "sources/EPSG{meta.epsg}/{meta.key}"
      }
    },
    "MRFGen": {
      "mrfgen": {
        "mrf_compression_type": "JPEG",
        "source_epsg": "{meta.epsg}",
        "mrf_merge": false,
        "mrf_nocopy": true,
        "overview_resampling": "average",
        "resize_resampling": "average",
        "parameter_name": "{meta.parameterName}"
      },
      "output": {
        "bucket": "{resources.buckets.public}",
        "key_prefix": "EPSG{meta.epsg}/{meta.collection}/{meta.date.year}"
      }
    }
  },
  "workflows": {
    "discover_VIIRS": {
      "Comment": "VIIRS Discovery",
      "StartAt": "DiscoverHttpTiles",
      "States": {
        "DiscoverHttpTiles": {
          "Type": "Task",
          "Resource": "TaskDiscoverHttpTilesFn",
          "Next": "TriggerIngestStateMachine"
        },
        "TriggerIngestStateMachine": {
          "Type": "Task",
          "Resource": "TaskTriggerIngestFn",
          "End": true
        }
      }
    },
    "ingest_VIIRS": {
      "Comment": "VIIRS Ingest",
      "StartAt": "SyncHttpUrls",
      "States": {
        "SyncHttpUrls": {
          "Type": "Task",
          "Resource": "TaskSyncHttpUrlsFn",
          "Next": "ChooseSyncContinuation"
        },
        "ChooseSyncContinuation": {
          "Type": "Choice",
          "Choices": [
            {
              "Variable": "$.exception",
              "StringEquals": "NotNeeded",
              "Next": "NoUpdates"
            },
            {
              "Variable": "$.exception",
              "StringEquals": "Incomplete",
              "Next": "SyncHttpUrls"
            },
            {
              "Variable": "$.exception",
              "StringEquals": "None",
              "Next": "MRFGen"
            }
          ],
          "Default": "UnhandledSyncError"
        },
        "UnhandledSyncError": {
          "Type": "Fail",
          "Cause": "Unhandled Sync Error"
        },
        "MRFGen": {
          "Type": "Task",
          "Resource": "ActivityGenerateMrf",
          "End": true
        },
        "MethodNotFound": {
          "Type": "Fail",
          "Cause": "Ingest Method Not Found"
        },
        "NoUpdates": {
          "Type": "Pass",
          "Result": "No Updates Necessary",
          "End": true
        }
      }
    }
  }
}