example/cumulus-tf/lzards_backup_workflow.asl.json
{
  "Comment": "Lzards Backup Workflow Test",
  "StartAt": "LzardsBackup",
  "States": {
    "LzardsBackup": {
      "Parameters": {
        "cma": {
          "event.$": "$",
          "ReplaceConfig": {
            "FullMessage": true
          },
          "task_config": {
            "lzardsProvider": "CUMULUS_INTEGRATION_TESTS",
            "cumulus_message": {
              "outputs": [
                {
                  "source": "{$.granules}",
                  "destination": "{$.payload.granules}"
                },
                {
                  "source": "{$.backupResults}",
                  "destination": "{$.meta.backupStatus}"
                }
              ]
            }
          }
        }
      },
      "Type": "Task",
      "Resource": "${lzards_backup_task_arn}",
      "Next": "WorkflowSucceeded",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "WorkflowFailed",
          "ResultPath": "$.exception"
        }
      ],
      "Retry": [
        {
          "BackoffRate": 2,
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6
        }
      ]
    },
    "WorkflowSucceeded": {
      "Type": "Succeed"
    },
    "WorkflowFailed": {
      "Cause": "Workflow failed",
      "Type": "Fail"
    }
  }
}
