example/cumulus-tf/orca_recovery_adapter_workflow.asl.json
{
  "Comment": "Orca Recovery Adapter",
  "StartAt": "OrcaRecoveryAdapter",
  "States": {
    "OrcaRecoveryAdapter": {
      "Parameters": {
        "cma": {
          "event.$": "$",
          "task_config": {
            "buckets": "{$.meta.buckets}",
            "fileBucketMaps": "{$.meta.collection.files}",
            "asyncOperationId": "{$.cumulus_meta.asyncOperationId}",
            "s3MultipartChunksizeMb": "{$.meta.collection.meta.s3MultipartChunksizeMb}",
            "excludedFileExtensions": "{$.meta.collection.meta.orca.excludedFileExtensions}"
          }
        }
      },
      "Type": "Task",
      "Resource": "${orca_recovery_adapter_task}",
      "Next": "WorkflowSucceeded",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "WorkflowFailed",
          "ResultPath": "$.exception"
        }
      ]
    },
    "WorkflowSucceeded": {
      "Type": "Succeed"
    },
    "WorkflowFailed": {
      "Cause": "Workflow failed",
      "Type": "Fail"
    }
  }
}
