workflows/workflow.json
{
  "Comment": "OPERA Ingest Workflow",
  "StartAt": "CnmToGranules",
  "States": {
    "CnmToGranules": {
      "Type": "Task",
      "Resource": "${CnmToGranulesArn}",
      "Parameters": {
        "cma": {
          "event.$": "$",
          "task_config": {
            "cumulus_message": {
              "outputs": [
                {
                  "source": "{$.granules}",
                  "destination": "{$.payload.granules}"
                },
                {
                  "source": "{$.cnm}",
                  "destination": "{$.meta.cnm}"
                }
              ]
            }
          }
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.exception",
          "Next": "CNMResponseFailure"
        }
      ],
      "Next": "SyncGranule"
    },
    "SyncGranule": {
      "Type": "Task",
      "Resource": "${SyncGranuleArn}",
      "Parameters": {
        "cma": {
          "event.$": "$",
          "task_config": {
            "ACL": "disabled",
            "buckets": "{$.meta.buckets}",
            "stack": "{$.meta.stack}",
            "downloadBucket": "{$.meta.buckets.opera-staging.name}",
            "duplicateHandling": "{$.meta.collection.duplicateHandling}",
            "provider": "{$.meta.provider}",
            "collection": "{$.meta.collection}",
            "workflowStartTime": "{$.cumulus_meta.workflow_start_time}",
            "syncChecksumFiles": true,
            "fileStagingDir": "{$.meta.cnm.product.name}"
          }
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.exception",
          "Next": "CNMResponseFailure"
        }
      ],
      "Next": "GenerateBrowse"
    },
    "GenerateBrowse": {
      "Type": "Task",
      "Resource": "${GenerateBrowseArn}",
      "Parameters": {
        "cma": {
          "event.$": "$",
          "task_config": {}
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.exception",
          "Next": "CNMResponseFailure"
        }
      ],
      "Next": "GetMd"
    },
    "GetMd": {
      "Type": "Task",
      "Resource": "${GetMdArn}",
      "Parameters": {
        "cma": {
          "event.$": "$",
          "task_config": {
            "collection_name": "{$.meta.collection.name}",
            "cumulus_message": {
              "outputs": [
                {
                  "source": "{$.ProductMd}",
                  "destination": "{$.meta.Metadata.ProductMd}"
                },
                {
                  "source": "{$.granules}",
                  "destination": "{$.payload.granules}"
                }
              ]
            }
          }
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.exception",
          "Next": "CNMResponseFailure"
        }
      ],
      "Next": "GetCmrMd"
    },
    "GetCmrMd": {
      "Type": "Task",
      "Resource": "${GetCmrMdArn}",
      "Parameters": {
        "cma": {
          "event.$": "$",
          "task_config": {
            "cmr": {
              "cmrEnvironment": "PROD"
            },
            "collection": "{$.meta.collection}",
            "input_granules": "{$.meta.Metadata.ProductMd.inputGranules}",
            "cumulus_message": {
              "outputs": [
                {
                  "source": "{$.CmrMd}",
                  "destination": "{$.meta.Metadata.CmrMd}"
                },
                {
                  "source": "{$.granules}",
                  "destination": "{$.payload.granules}"
                }
              ]
            }
          }
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.exception",
          "Next": "CNMResponseFailure"
        }
      ],
      "Next": "MoveGranules"
    },
    "MoveGranules": {
      "Type": "Task",
      "Resource": "${MoveGranulesArn}",
      "Parameters": {
        "cma": {
          "event.$": "$",
          "task_config": {
            "bucket": "{$.meta.buckets.opera-staging.name}",
            "buckets": "{$.meta.buckets}",
            "distribution_endpoint": "{$.meta.distribution_endpoint}",
            "collection": "{$.meta.collection}",
            "duplicateHandling": "{$.meta.collection.duplicateHandling}"
          }
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.exception",
          "Next": "CNMResponseFailure"
        }
      ],
      "Next": "GenerateUMMG"
    },
    "GenerateUMMG": {
      "Type": "Task",
      "Resource": "${GenerateUmmgArn}",
      "Parameters": {
        "cma": {
          "event.$": "$",
          "task_config": {
            "collection_name": "{$.meta.collection.name}",
            "metadata": "{$.meta.Metadata}"
          }
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Next": "CNMResponseSuccess",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "CNMResponseFailure",
          "ResultPath": "$.exception"
        }
      ]
    },
    "CNMResponseFailure": {
      "Type": "Task",
      "Resource": "${ResponseArn}",
      "Parameters": {
        "cma": {
          "event.$": "$",
          "task_config": {
            "cnm": "{$.meta.cnm}",
            "exception": "{$.exception}",
            "received_count": "{$.meta.eventSource.receivedCount}",
            "received_time": "{$.cumulus_meta.workflow_start_time}",
            "sqs_max_retries": "{$.meta.retries}"
          }
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "MaxAttempts": 1
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.exception",
          "Next": "WorkflowFailed"
        }
      ],
      "Next": "WorkflowFailed"
    },
    "CNMResponseSuccess": {
      "Type": "Task",
      "Resource": "${ResponseArn}",
      "Parameters": {
        "cma": {
          "event.$": "$",
          "task_config": {
            "cnm": "{$.meta.cnm}",
            "exception": "{$.exception}",
            "received_count": "{$.meta.eventSource.receivedCount}",
            "received_time": "{$.cumulus_meta.workflow_start_time}",
            "sqs_max_retries": "{$.meta.retries}"
          }
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "MaxAttempts": 1
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.exception",
          "Next": "WorkflowFailed"
        }
      ],
      "Next": "QueuePostIngestWorkflows"
    },
    "QueuePostIngestWorkflows": {
      "Type": "Parallel",
      "ResultPath": null,
      "Branches": [
        {
          "StartAt": "CheckGenerateDispStack",
          "States": {
            "CheckGenerateDispStack": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.meta.collection.process",
                  "StringEquals": "DISP",
                  "Next": "MakeDispStackGranule"
                }
              ],
              "Default": "SkipDispStack"
            },
            "MakeDispStackGranule": {
              "Type": "Task",
              "Resource": "${MakeDispStackGranuleArn}",
              "Parameters": {
                "cma": {
                  "event.$": "$",
                  "task_config": {
                    "collection": "{$.meta.collection}",
                    "metadata": "{$.meta.Metadata}"
                  }
                }
              },
              "Next": "QueueGenerateDispStackStep"
            },
            "QueueGenerateDispStackStep": {
              "Type": "Task",
              "Resource": "${QueueGranulesArn}",
              "Parameters": {
                "cma": {
                  "event.$": "$",
                  "task_config": {
                    "childWorkflowMeta": {
                      "disp_collection_name": "{$.meta.collection.name}"
                    },
                    "granuleIngestWorkflow": "OPERA-generate-disp-stack",
                    "internalBucket": "{$.meta.buckets.internal.name}",
                    "provider": "{$.meta.provider}",
                    "queueUrl": "${DedupeGranulesQueueUrl}",
                    "stackName": "{$.meta.stack}"
                  }
                }
              },
              "End": true
            },
            "SkipDispStack": {
              "Type": "Pass",
              "End": true
            }
          }
        },
        {
          "StartAt": "CheckGibsBrowse",
          "States": {
            "CheckGibsBrowse": {
              "Type": "Choice",
              "Choices": [
                {
                  "And": [
                    {
                      "Variable": "$.meta.collection.process",
                      "StringEquals": "RTC"
                    },
                    {
                      "Variable": "$.meta.Metadata.ProductMd.zeroDopplerStartTime",
                      "TimestampGreaterThan": "2025-01-01T00:00:00Z"
                    },
                    {
                      "Or": [
                        {
                          "Variable": "$.meta.Metadata.ProductMd.listOfPolarizations[0]",
                          "StringEquals": "VV"
                        },
                        {
                          "Variable": "$.meta.Metadata.ProductMd.listOfPolarizations[0]",
                          "StringEquals": "VH"
                        }
                      ]
                    },
                    {
                      "Or": [
                        {
                          "Variable": "$.meta.Metadata.ProductMd.listOfPolarizations[1]",
                          "StringEquals": "VV"
                        },
                        {
                          "Variable": "$.meta.Metadata.ProductMd.listOfPolarizations[1]",
                          "StringEquals": "VH"
                        }
                      ]
                    }
                  ],
                  "Next": "InvokeGibsBrowse"
                }
              ],
              "Default": "SkipGibsBrowse"
            },
            "InvokeGibsBrowse": {
              "Type": "Task",
              "Resource": "${QueueGranulesArn}",
              "Parameters":{
                 "cma":{
                    "event.$":"$",
                    "task_config":{
                       "provider":"{$.meta.provider}",
                       "internalBucket":"{$.meta.buckets.internal.name}",
                       "stackName":"{$.meta.stack}",
                       "granuleIngestWorkflow":"OPERA-bignbit-browse",
                       "queueUrl": "${StartSfQueueUrl}"
                    }
                 }
              },
              "End": true
            },
            "SkipGibsBrowse": {
              "Type": "Pass",
              "End": true
            }
          }
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.exception",
          "Next": "WorkflowFailed"
        }
      ],
      "Next": "WorkflowSuccess"
    },
    "WorkflowFailed": {
      "Type": "Fail",
      "CausePath": "$.exception.Cause",
      "ErrorPath": "$.exception.Error"
    },
    "WorkflowSuccess": {
      "Type": "Succeed"
    }
  }
}
