config/sfn-ingest-granules.json
{
  "Comment": "Unified workflow for GitC Granule Ingest",
  "StartAt": "ChooseIngestMethod",
  "States": {
    "ChooseIngestMethod": {
      "Type" : "Choice",
      "Choices": [
        {
          "Variable": "$.collection.discoveryType",
          "StringEquals": "http-tiles",
          "Next": "SyncHttpUrls"
        },
        {
          "Variable": "$.collection.discoveryType",
          "StringEquals": "cmr-granules",
          "Next": "CreateWmsUrls"
        }
      ],
      "Default": "MethodNotFound"

    },
    "CreateWmsUrls": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-west-2:***REMOVED***:function:gitc-ingest-pq-task-sync-wms",
      "Next": "SyncHttpUrls"
    },
    "SyncHttpUrls": {
      "Type" : "Task",
      "Resource": "arn:aws:lambda:us-west-2:***REMOVED***:function:gitc-ingest-pq-task-sync-http-urls",
      "Next": "ChooseSyncContinuation"
    },
    "ChooseSyncContinuation": {
      "Type" : "Choice",
      "Choices": [
        {
          "Variable": "$.exception",
          "StringEquals": "NotNeeded",
          "Next": "NoUpdates"
        },
        {
          "Variable": "$.exception",
          "StringEquals": "Incomplete",
          "Next": "SyncHttpUrls"
        },
        {
          "Variable": "$.exception",
          "StringEquals": "None",
          "Next": "MRFGen"
        }
      ],
      "Default": "UnhandledSyncError"
    },
    "UnhandledSyncError": {
      "Type": "Fail",
      "Cause": "Unhandled Sync Error"
    },
	  "MRFGen": {
      "Type" : "Task",
      "Resource": "arn:aws:states:us-west-2:***REMOVED***:activity:gitc-ingest-pq-mrf-gen",
      "End": true
    },
    "MethodNotFound": {
      "Type": "Fail",
      "Cause": "Ingest Method Not Found"
    },
    "NoUpdates": {
      "Type": "Pass",
      "Result": "No Updates Necessary",
      "End": true
    }
  }
}
