tf-modules/workflows/change_granule_collections_workflow.asl.json
{
  "Comment": "Changes granules from their original collection to a new collection including updating CMR metadata, s3 files and db records",
  "StartAt": "ChangeGranuleCollectionS3",
  "States": {
    "ChangeGranuleCollectionS3": {
      "Parameters": {
        "cma": {
          "event.$": "$",
          "task_config": {
            "buckets": "{$.meta.buckets}",
            "provider": "{$.meta.provider}",
            "collection": "{$.meta.collection}",
            "targetCollection": "{$.meta.bulkChangeCollection.targetCollection}",
            "s3MultipartChunksizeMb": "{$.meta.bulkChangeCollection.s3MultipartChunksizeMb}",
            "invalidGranuleBehavior": "{$.meta.bulkChangeCollection.invalidGranuleBehavior}",
            "cmrGranuleUrlType": "{$.meta.bulkChangeCollection.cmrGranuleUrlType}",
            "concurrency": "{$.meta.bulkChangeCollection.concurrency}"
          }
        }
      },
      "Type": "Task",
      "Resource": "${change_granule_collection_s3_task_arn}",
      "TimeoutSeconds": 60,
      "Retry": [
        {
          "ErrorEquals": [
            "States.Timeout"
          ],
          "MaxAttempts": 1
        }
      ],
      "Next": "CmrStep"
    },
    "CmrStep": {
      "Parameters": {
        "cma": {
          "event.$": "$",
          "ReplaceConfig": {
            "FullMessage": true
          },
          "task_config": {
            "bucket": "{$.meta.buckets.internal.name}",
            "stack": "{$.meta.stack}",
            "cmr": "{$.meta.cmr}",
            "launchpad": "{$.meta.launchpad}",
            "etags": "{$.meta.file_etags}"
          }
        }
      },
      "Type": "Task",
      "Resource": "${post_to_cmr_task_arn}",
      "Next": "ChangeGranuleCollectionPG",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "CnmResponseFail",
          "ResultPath": "$.exception"
        }
      ],
      "Retry": [
        {
          "BackoffRate": 2,
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6
        }
      ]
    },
    "ChangeGranuleCollectionPG": {
      "Parameters": {
        "cma": {
          "event.$": "$",
          "task_config": {
            "buckets": "{$.meta.buckets}",
            "provider": "{$.meta.provider}",
            "collection": "{$.meta.collection}",
            "targetCollection": "{$.meta.bulkChangeCollection.targetCollection}"
          }
        }
      },
      "Type": "Task",
      "Resource": "${change_granule_collection_pg_task_arn}",
      "TimeoutSeconds": 60,
      "Retry": [
        {
          "ErrorEquals": [
            "States.Timeout"
          ],
          "MaxAttempts": 1
        }
      ],
      "End": true
    }
  }
}
